body{
	margin: 0;
	background-color: #1d2124;

}

:root{
	--parent-padding: 0px 20px;
}

.glow {
}

.root{
	margin: 30px;
	/*width: 100%;*/
	height: 100%;
}

.container{
	background-color: #23272a;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
	width: 90%;
	height: 80%;
	box-shadow: 10px 10px 27px black , -10px -10px 27px black
}

.user-bar{
	border-radius: 20px;
	height: 52vh;
	margin-top: 20px;
	background-color: #272b2e;

}

.user{
	padding: 20px;
	color:white;
	box-shadow: 0px 0px 10px red , 0px 0px 10px red;
	margin: 20px 10px;
	border-radius: 20px;
}

.true{
	box-shadow: 0px 0px 10px #0f0 , 0px 0px 10px #0f0;	
}

.user .name{
	background-color: #474c50;
	text-align: center;
	border-radius: 10px;
	padding: 5px;
	margin: auto;
	width: 70%;
}

.online-users{
	background-color:#272b2e;
	border-radius: 20px;
	padding: 10px;
	margin-top: 10px;
}



.online-users .blank{‎‎‎
	content: '​​';
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color:lime;
	display: inline-block;
}

.online-users .text{
	margin-left: 20px;
	color: white;
}

.users-bar-parent{
	padding: var(--parent-padding);
	/*height: 300px;*/
	width: 20%;
	float: left;
}
.message-area-parent{
	width: 70%;
	float: right;
	height: 80%;
	padding: var(--parent-padding);
	background-color: #272b2e;
	border-radius: 20px;
}

.message-area{
	padding-top: 20px;
}

.users-bar-parent .title{
	color: white;
	margin: auto;
	background-color: #474c50;
	font-family: cursive;
	text-align: center;
	border-radius: 20px;
	padding: 15px;
	font-weight: 900;
	text-shadow: -3px 9px 5px black;
	font-size: 40px;
}

.message-send{
	position: absolute;
	bottom: 20px;
	margin: auto;
	background-color: #282c2f;
	border-radius: 20px;
	width: 65%;
	vertical-align: sub;
}

.message-send input{
	font-size: 16px;
	background-color: transparent;
	width: 90%;
	padding: 10px;
	border:none;
	color:#62676b;
}

.message-send button{
	font-size: 20px;
	border:none;
	background: transparent;
	position: absolute;
	top:2px;
	bottom: 2px;
	right: 10px;
	color : #3f3f41;
}

.message-area-parent{
	overflow-y: scroll;
}

.message-area-parent::-webkit-scrollbar{
	width: 12px;
	background-color: transparent;
	color: blue;
}

.message-area-parent::-webkit-scrollbar-thumb{
	background-color:#1d2124;
	border-radius: 20px;
}

.my-message{
	margin-left:auto; margin-right:10px;
}

.my-message .sender{
	display: none;
}

.message .sender{
	text-decoration: underline;
	text-align: right;
	margin-bottom: 20px;
}

.my-message , .message{
	position: sticky;
	background-color: #474d53;
	padding: 10px;
	color: white;
	font-size: 17px;
	border-radius: 20px;
	margin-bottom:20px;
	width:250px;
}


*{
	/*border:.1px solid red;*/
	outline: none;
	font-family: arial;
}

